* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-header {
    display: flex;
    justify-content: center;
    background-color: #F3EEE8;
}

.hero-header .hero-header-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    position: relative;
    height: 900px;
}

.hero-header .left-side {
    display: flex;
    padding: 24px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
    align-self: stretch;
    width: 50%;
}

.hero-header .right-side {
    background-image: url("/assets/media/Picture.png");
    background-repeat: no-repeat;
    width: 50%;
}

.navigation-bar {
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    top: 55px;
    right: 150px;
    left: 150px;
}


.navigation-bar h2 {
    color: #A06056;
    font-size: 34px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    margin-right: 82px;
}

.navigation-bar ul li {
    color: #706458;
    font-size: 18px;
    font-family: Varta;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: inline-block;
    margin-right: 24px;
}

.navigation-bar .contact {
    height: 50px;
    width: 50px;
    margin-left: auto;
}

.navigation-bar .mobile-version {
    display: none;
}

.navigation-bar .left-side {
    background-color: #F3EEE8;
}

.page-header .p1 {
    margin-top: 110px;
    margin-bottom: 50px;
    color: #A06056;
    font-family: Varta;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
}

.page-header h1 {
    color: #A06056;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
}

.page-header p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.8px;
    margin-bottom: 48px;
}

.page-header img {
    width: 50px;
    height: 50px;
}

.projects {
    display: flex;
    background: #F3EEE8;
    justify-content: center;
}

.projects .projects-container {
    max-width: 1440px;
    width: 100%;
    padding: 64px 150px 70px;
    display: flex;
    gap: 48px;
}

.main-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    padding-right: 88px;
    width: 50%;
}

.main-left-side h1 {
    color: #706458;
    font-family: Merriweather;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -0.6px;
}

.main-left-side .main-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left-side a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.main-left-side img {
    width: 20px;
    height: 20px;
    padding-top: 3px;
}

.main-right-side {
    display: flex;
    padding-top: 20px;
    width: 50%;
    flex-wrap: wrap;
}

.main-right-side .box {
    width: 50%;
    padding: 0 29px 30px 0;
}

.main-right-side .box h4 {
    color: #A06056;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.main-right-side .box p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.latest-trends {
    display: flex;
    justify-content: center;
    background: #FFF;
}

.latest-trends .latest-trends-container {
    max-width: 1440px;
    width: 100%;
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.latest-trends .latest-trends-container .section-header {
    display: flex;
    justify-content: space-between;
}

.section-header .section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.section-header .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.section-header .title h2 {
    color: #121212;
    font-family: Merriweather;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.3px;
}

.section-header .title p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.section-header .link-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header .link-form a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.section-header .link-form img {
    width: 20px;
    height: 20px;
}

.section-header .section-header-form {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.section-header-form input {
    width: 266px;
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 15px 15px 10px;
    justify-content: center;
    align-items: center;
    background: rgba(243, 238, 232, 0.30);
    border: none;
    outline: none;
}

.section-header-form button {
    height: 50px;
    padding: 8px 30px;
    gap: 10px;
    border-radius: 1px;
    background: #534B42;
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
}

.latest-trends .latest-trends-container .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.slider .pictures-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.pictures-section img {
    width: 360px;
    height: 550px;
}

.section-footer {
    display: flex;
    gap: 226px;
    align-items: center;
}

.section-footer h1 {
    color: #534B42;
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.3px;
}

.section-footer p {
    color: #706458;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer-section {
    display: flex;
    gap: 48px;
    background: #F3EEE8;
    justify-content: center;
}

.footer-section .footer-section-container {
    max-width: 1440px;
    width: 100%;
    padding: 70px 150px 64px;
}

.footer-section .footer-content {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

.footer-content h2 {
    color: #534B42;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
}

.footer-content .lists {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
}

.footer-content .lists .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

.lists .list h4 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #534B42;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.lists .list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    list-style: none;
}

.lists .list ul li {
    color: #706458;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer-content,
.footer-section {
    flex-wrap: wrap;
}

.footer-content .blog-content {
    display: flex;
    width: 235px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.blog-content h4 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #534B42;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.blog-content .post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.blog-content .post .image {
    background-image: url("/assets/media/room.png");
    width: 235px;
    height: 160px;
    flex-shrink: 0;
}

.blog-content .post p {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #706458;
    font-family: Varta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.blog-content .post .learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content .post .learn-more a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.blog-content .post .learn-more img {
    display: flex;
    padding-top: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20px;
    height: 20px;
}

.footer-section .copyright-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.footer-section .copyright-content .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.footer-section .copyright-content .socials img {
    width: 32px;
    height: 32px;
}

.footer-section .copyright-content .legals {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.footer-section .copyright-content .legals p {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    color: rgba(112, 100, 88, 0.70);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer-section .copyright-content .legals ul {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.footer-section .copyright-content .legals ul li {
    list-style: none;
    color: rgba(112, 100, 88, 0.70);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

@media screen and (max-width: 768px) {
    body {
        min-width: 375px;
    }
    
    .hero-header .hero-header-container {
        flex-direction: column;
        padding: 0;
        gap: 0;
        width: 100%;
        height: 667px;
    }

    .hero-header .hero-header-container .right-side {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .hero-header .hero-header-container .left-side {
        width: 100%;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        padding: 25px;
    }

    .hero-header .hero-header-container .navigation-bar {
        height: 45px;
        justify-content: space-between;
        top: 41px;
        left: 32px;
        right: 32px;
    }

    .hero-header .hero-header-container .navigation-bar h2 {
        color: #FFF;
        padding: 10px;
        align-items: flex-start;

    }

    .hero-header .hero-header-container .navigation-bar ul {
        display: none;
    }

    .hero-header .hero-header-container .navigation-bar .contact {
        display: none;

    }

    .hero-header .hero-header-container .navigation-bar .mobile-version {
        display: flex;
        width: 24px;
        height: 12px;
    }

    .hero-header-container .left-side .page-header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-header-container .left-side .page-header .p1 {
        color: #FFF;
        text-align: center;
        padding-bottom: 24px;
        text-transform: uppercase;
        width: 100%;
    }

    .hero-header-container .left-side .page-header h1 {
        color: #FFF;
        text-align: center;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.3px;
        padding-bottom: 24px;
    }

    .hero-header-container .left-side .page-header p {
        color: #F7F8F9;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        padding-bottom: 24px;
        text-align: center;
        width: 100%;
    }

    .hero-header-container .left-side .page-header img {
        margin: 0 auto;
        content: url(/assets/media/Scroll\ Downl.png);
    }

    .projects .projects-container {
        padding: 48px 32px;
        flex-direction: column;
        gap: 32px;
    }

    .projects-container .main-left-side h1 {
        color: #534B42;
        font-size: 35px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -0.3px;

    }

    .projects-container .main-left-side {
        width: 100%;
    }

    .projects-container .main-left-side a {
        color: #A06056;
        font-family: Lato;
        font-size: 17px;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0.3px;
        text-decoration: none;
    }

    .main-left-side .main-link,
    .main-right-side {
        gap: 41px;

    }

    .projects-container .main-right-side {
        gap: 40px;
        width: 100%;
    }

    .main-right-side .box {
        width: 100%;
    }

    .latest-trends .latest-trends-container {
        padding: 48px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        width: 100%;
    }

    .latest-trends-container .section-header {
        gap: 32px;
        flex-wrap: wrap;
    }

    .latest-trends-container .section-header .title {
        gap: 16px;
    }

    .latest-trends-container .section-header .section-header-form {
        flex-direction: column;
        width: 100%;
    }

    .latest-trends-container .section-header .section-header-form input {
        padding: 12px 15px;
        width: 100%;
    }

    .latest-trends-container .section-header .section-header-form button {
        width: 100%;
    }

    .latest-trends-container .slider {
        gap: 40px;
    }

    .latest-trends-container .slider .pictures-section {
        order: 2;
        gap: 20px;
        width: 100%;
    }

    .latest-trends-container .slider .section-footer {
        gap: 20px;
        flex-wrap: wrap;
    }

    .latest-trends-container .slider .section-footer h1 {
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
    }

    .latest-trends-container .slider .section-footer p {
        color: #706458e6
    }

    .latest-trends-container .slider .pictures-section img {
        width: 100%;
        height: 175px;
        object-fit: cover;
    }

    .footer-section .footer-section-container {
        min-width: 375px;
        display: flex;
        padding: 48px 32px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-section .footer-section-container .footer-content {
        flex-direction: column;
    }

    .footer-section .footer-section-container .footer-content h2 {
        text-align: center;
        width: 100%;
    }

    .footer-section-container .footer-content .lists {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content .lists .list h4 {
        color: #121212;
        padding-bottom: 10px;
        padding-top: 40px;
    }

    .footer-content .blog-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-content .blog-content .post {
        gap: 16px;
    }

    .footer-content .blog-content .post p {
        font-size: 18px;
    }

    .footer-section .copyright-content .socials {
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-section .copyright-content .legals {
        gap: 32px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .footer-section .copyright-content .legals p {
        order: 2;
        width: 311px;
    }

    .footer-section .copyright-content .legals ul {
        gap: 24px;
    }


}